In [36]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib as jb

df = pd.read_csv('flood_dataset.csv')
z = df.drop(columns=['FloodEvent'])
x = z.drop(columns=['NDVI', 'Timestamp'])
y = df['FloodEvent']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(x_train, y_train)
predictions = model.predict(x_test)

score = accuracy_score(y_test, predictions)
print(f'Accuracy: {score}')

# Save the model
jb.dump(model, 'predictor2.joblib')

# Example test data - make sure to match the number of features
# Create a DataFrame with the correct feature names
test_data = pd.DataFrame([[1, 95.21, 3.46, 0.53]], columns=x_train.columns)

# Make a prediction
test_prediction = model.predict(test_data)
test_prediction
jb.dump(model, 'predictor2.sav')

Accuracy: 0.998

array([0], dtype=int64)

In [30]:
x_test

      District  Rainfall  RiverLevel  SoilMoisture
2212         9     52.60        2.38          0.87
6798         5    185.34        2.77          0.88
3195         1    198.36        3.41          0.80
2032         2    196.31        3.19          0.64
5798        14    174.50        3.36          0.74
...        ...       ...         ...           ...
9277        13    129.99        2.49          0.61
9191        11    146.74        2.98          0.58
2449         8     97.99        3.01          0.78
1739        12     93.97        2.18          0.61
3933        10    153.42        2.08          0.82

[2000 rows x 4 columns]